@charset "utf-8";
@import url('reset.css');

html,
body {
  width: 100%;
  min-width: 1280px;
  overflow-x: hidden;
  height: auto; /* 원래 얘만 있었음 */
  background-color: #f6f6f6;
}

.panel {
  width: 100%;
  min-height: 100vh;
  padding: calc(160px + 80px) 160px;
  position: relative;
/*   scroll-snap-align: start;
  top: 0;
  will-change: transform; */
}

.panel .inner {
  width: 1200px;
  margin: 0 auto;
}

.scroll-down {
  bottom: auto;
  top: 6vh;
  position: relative;
}



/* 헤더 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  display: flex;
  align-items: center;
  font-family: 'Lato', 'Noto Sans KR';
  font-weight: bold;
  color: #777777;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: background 0.2s ease, backdrop-filter 0.2s ease;
}

#header .inner {
  width: 100%;
  max-width: calc(100% - 120px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .inner h1 {
  font-size: 16px;
  letter-spacing: 5px;
  line-height: 1.5;
  color: #333333;
}

#header .inner .nav {
  position: relative; /* #header .inner .nav .nav-underline */
  display: flex;
  gap: 60px;
  align-items: center;
  line-height: 1.5;
  font-size: 16px;
}

#header .inner .nav .nav-underline {
  position: absolute; /* #header .inner .nav */
  bottom: -16px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(0);
  transition: all 0.25s ease;
  pointer-events: none;
  z-index: 1;
}

/* active 메뉴 색상 */
#header .inner .nav a.active {
  color: #333;
  transition: color 0.3s ease;
}



/* 메인 */
#main {
  width: 100%;
}



/* #intro */
#main .panel.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 200px;
  /* width: 100%;
  padding: 13%;
  margin: 0 auto;
  text-align: center;
  align-items: center; */
}
#main .panel.intro h1 {
  font-family: 'Zalando Sans Expanded';
  font-size: 210px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 40px;
  color: #333333;
}

#main .panel.intro h1:hover {
  text-decoration: underline;
}

#main .panel.intro .bottom {
  position: absolute; /* #main .panel.intro h1 */
  bottom: 40px;
  left: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#main .panel.intro .bottom img {
  width: 100px;
  object-fit: cover;
}

#main .panel.intro .bottom p {
  font-family: 'Pretendard', 'Noto Sans KR';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}




/* #about */
#main .panel.about {
  margin-bottom: 200px;
}

#main .panel.about .inner {
  /* width: 100%; */
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  font-family: 'Pretendard', 'Noto Sans KR';
  color: #333333;
}

#main .panel.about .inner .left-box {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#main .panel.about .inner .left-box img {
  width: clamp(200px, 15vw, 320px);
  height: clamp(300px, 37vh, 420px);
  object-fit: cover;
  border: 1px solid #333333;
}

#main .panel.about .inner .left-box .text {
  display: flex;
  gap: 30px;
}

#main .panel.about .inner .left-box .text .left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

#main .panel.about .inner .left-box .text .right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  line-height: 1.5;
}

#main .panel.about .inner .right-box .list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#main .panel.about .inner .right-box .list .item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#main .panel.about .inner .right-box .list .item h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 5px;
}

#main .panel.about .inner .right-box .list .item ul {
  display: flex;
  gap: 30px;
  font-size: 16px;
  line-height: 1.5;
}

#main .panel.about .inner .right-box .list .item ul li:last-child {
  color: #777777;
}



/* #project */
#main .panel.project {
  width: 100%;
  position: relative;
  margin-bottom: 200px;
}

#main .panel.project .inner {
  width: calc(100% - 300px);
  margin: 0 auto;
  position: absolute;
  top: 0;
}
#main .panel.project .inner h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Zalando Sans Expanded';
  /* letter-spacing: 5px; */
  text-align: center;
  margin-bottom: 100px;
  color: #333333;
}
#main .panel.project .inner .menu ul {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
#main .panel.project .inner .menu ul li {
  padding: 10px 20px;
  background-color: #bbbbbb;
  color: #333333;
  border: 1px solid #333333;
  border-radius: 20px;
}
#main .panel.project .inner .menu ul li:first-child {
  background-color: #a52a2a;
  color: #FFF;
}

#main .panel.project .inner .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#main .panel.project .inner .list .item {
  padding: 15px;
  margin-bottom: 60px;
  width: 500px;
  border: 1px solid #333333;
  background-color: #FFF;
}

#main .panel.project .inner .list .item .image {
  width: 100%;
  margin-bottom: 15px;
}

#main .panel.project .inner .list .item .image img {
  width: 100%;
  object-fit: cover;
}

#main .panel.project .inner .list .item .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Lato', 'Noto Sans KR';
  color: #333333;
  line-height: 1.5;
}

#main .panel.project .inner .list .item .text h3 {
  font-family: 'Zalando Sans Expanded';
  font-weight: bold;
  font-size: 20px;
}
#main .panel.project .inner .list .item .text h3:hover {
  color: orangered;
}
#main .panel.project .inner .list .item .text h4 {
  font-size: 16px;
}

#main .panel.project .inner .list .item .text ul {
  display: flex;
  gap: 10px;
  font-family: 'Source Code Pro', 'Noto Sans KR';
  font-size: 14px;
}

#main .panel.project .inner .list .item .text ul li {}

#main .panel.project .inner .list .item .text .icon {
  margin-top: 10px;
}
#main .panel.project .inner .list .item .text .icon ul {
  display: flex;
  gap: 20px;
  font-size: 13px;
}

#main .panel.project .inner .list .item .text .icon ul li {
  background-color: #FFF;
  padding: 10px;
  border: 1px solid #333333;
  border-radius: 10px;
}
#main .panel.project .inner .list .item .text .icon ul li:first-child {
  background-color: #a52a2a;
  color: #FFF;
}



/* #design */
#main .panel.design {
    width: 100%;
    position: relative;
    margin-bottom: 200px;
  }
  
  #main .panel.design .inner {
    width: calc(100% - 300px);
    margin: 0 auto;
    position: absolute;
    top: 0;
    margin-top: 200px;
}

#main .panel.design .inner h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Zalando Sans Expanded';
  /* letter-spacing: 5px; */
  text-align: center;
  margin-bottom: 100px;
  color: #333333;
}
#main .panel.design .inner .list {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#main .panel.design .inner .list .item {
  width: 400px;
  border: 1px solid #333;
}
#main .panel.design .inner .list .item img {
  width: 100%;
  object-fit: cover;
}


/* #contact */
#main .panel.contact {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Lato', 'Noto Sans KR';
  color: #333333;
}
#main .panel.contact .inner {
  width: 1200px;
  margin: 0 auto;
}
#main .panel.contact .inner h2 {
  text-align: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
}
#main .panel.contact .inner .icon {
  position: relative;
  bottom: -300px;
  display: flex;
  gap: 100px;
  justify-content: center;
}
#main .panel.contact .inner .icon li {
  width: 70px;
}
#main .panel.contact .inner .icon img {
  width: 100%;
  object-fit: cover;
}



/* 푸터 */
#footer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}

#footer p {
  font-family: 'Source Code Pro', 'Noto Sans KR';
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}