@charset "utf-8";
@import url('reset.css');

html,
body {
  height: auto;
}

.panel {
  height: 110vh;
  top: 0;
  will-change: transform;
}

.scroll-down {
  bottom: auto;
  top: 6vh;
  position: relative;
}


/* 헤더 */
#header {
  padding: 1%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: 'Lato', 'Noto Sans KR';
  font-weight: bold;
  color: #777777;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: background 0.2s ease, backdrop-filter 0.2s ease;
}

#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}

#header .inner h1 {
  font-size: 16px;
  letter-spacing: 5px;
  line-height: 1.5;
  color: #333333;
}

#header .inner .nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;
  line-height: 1.5;
  font-size: 16px;
}

#header .inner .nav .nav-underline {
  position: absolute;
  bottom: -70%;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(0);
  transition: all 0.25s ease;
  pointer-events: none;
  z-index: 1;
}

/* active 메뉴 색상 */
#header .inner .nav a.active {
  color: #333;
  transition: color 0.3s ease;
}

/* 메인 */
#main {
  width: 100%;
}

#main .panel.intro {
  padding-top: 13%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  background-color: red;
}

#main .panel.intro h1 {
  position: relative;
  /* #main .panel.intro img */
  font-family: 'Zalando Sans Expanded';
  font-size: 160px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 40px;
  color: #333333;
}

#main .panel.intro .bottom {
  position: absolute;
  /* #main .panel.intro h1 */
  bottom: 13%;
  left: 5%;
  transform: translate(-5%, -13%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#main .panel.intro .bottom img {
  width: 150px;
  object-fit: cover;
  border: 1px solid #333333;
}

#main .panel.intro .bottom p {
  font-family: 'Lato', 'Noto Sans KR';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

#main .panel.intro .bottom p:hover {
  text-decoration: underline;
}


#main .panel.about {
  padding-top: 13%;
  width: 100%;
}

#main .panel.about .inner {
  display: flex;
  gap: 20%;
  width: 100%;
  max-width: calc(100% - 600px);
  margin: 0 auto;
  font-family: 'Pretendard', 'Noto Sans KR';
  color: #333333;
}

#main .panel.about .inner .left-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#main .panel.about .inner .left-box img {
  width: clamp(200px, 15vw, 320px);
  height: clamp(300px, 37vh, 420px);
  object-fit: cover;
  border: 1px solid #333333;
}

#main .panel.about .inner .left-box .text {
  display: flex;
  gap: 30px;
}

#main .panel.about .inner .left-box .text .left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

#main .panel.about .inner .left-box .text .right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  line-height: 1.5;
}

#main .panel.about .inner .right-box .list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#main .panel.about .inner .right-box .list .item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#main .panel.about .inner .right-box .list .item h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 5px;
}

#main .panel.about .inner .right-box .list .item ul {
  display: flex;
  gap: 30px;
  font-size: 16px;
  line-height: 1.5;
}

#main .panel.about .inner .right-box .list .item ul li:last-child {
  color: #777777;
}


#main .panel.project {
  padding-top: 13%;
}

#main .panel.project .inner {}


#main .panel.design {
  padding-top: 13%;
}


#main .panel.contact {
  padding-top: 13%;
}


/* 푸터 */
#footer {
  width: 100%;
  padding: 1%;
  text-align: center;
  align-items: center;
  background-color: #333333;
}

#footer p {
  display: inline-block;
  font-family: 'Source Code Pro', 'Noto Sans KR';
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}